:root {
    --Crtptext-color: rgb(0, 0, 0);
    --Crtpmain-color: #ffffff;
    --Crtpbutton-color: rgb(244, 244, 244);
    --Crtphover-color: rgb(228, 228, 228);
    --Crtpicon-color: 0;
  }
  
  .dark-mode {
    --Crtptext-color: rgb(255, 255, 255);
    --Crtpmain-color: #0f0f0f;
    --Crtpbutton-color: rgb(42, 42, 42);
    --Crtphover-color: rgb(60, 60, 60);
    --Crtpicon-color: 1;
  }
  

.comment-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: auto;
    margin: 0 auto;
    background: var(--Crtpmain-color);
    color: var(--Crtptext-color);
    border-radius: 8px;
}

.comment {
    display: flex;
    margin-bottom: 20px;
}

.avatar
{
    margin-right: 17px;
}
.avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ddd;
}

.content {
    flex: 1;
}

.username {
    font-weight: bold;
    color: var(--Crtptext-color);
    margin-bottom: 5px;
    font-size: 0.8rem;
}

.comment-text {
    margin-bottom: 10px;
    font-size: 0.9rem;
    color: var(--Crtptext-color);
}

.comment-action {
    display: flex;
    align-items: center;
    font-size: 0.9em;
    gap: 13px;
}

.button-like,
.button-dislike,
.button-reply
{
    display: flex;
    align-items: center;
    font-size: 0.7rem;
    font-weight: bold;
    border: none;
    background-color: var(--Crtpmain-color);
    cursor: pointer;
}

.button-reply
{   
    color: var(--Crtptext-color);
    padding: 9px 12px;
    border-radius: 15px;
}

.comment-icon
{
    filter: invert(var(--Crtpicon-color));
    padding: 3px;
    border-radius: 50%;
}

.comment-icon:hover,
.button-reply:hover
{
    background-color: var(--Crtphover-color);
}

.comment-likes
{
    font-size: 0.8rem;
    color: var(--Crtptext-color);
}