:root {
    --DStext-color: #181818;
    --DSmain-color: #ffffff;
    --DSbutton-color: rgb(244, 244, 244);
    --DShover-color: rgb(228, 228, 228);
    --DSicon-color: black;
  }
  
  .dark-mode {
    --DStext-color: rgb(255, 255, 255);
    --DSmain-color: #0f0f0f;
    --DSbutton-color: rgb(42, 42, 42);
    --DShover-color: rgb(60, 60, 60);
    --DSicon-color: white;
  }

/* description */
.bottom-row {
    display: flex;
    flex-direction: column;
    background-color: var(--DSbutton-color);
    padding: 10px;
    border-radius: 8px;
}

.views {
    font-size: 0.85rem !important;
    font-weight: 500 !important;
    letter-spacing: 0.05rem;
    margin-bottom: 3px;
}

.description p,
.description li,
.contact p,
.links li {
    font-size: 0.85rem;
    font-weight: 400;
    color: var(--DStext-color);
}