:root {
  --Stext-color: #000000;
  --Smain-color: #ffffff;
  --Sbox-color: rgb(255, 255, 255);
  --Shover-color: rgb(202, 202, 202);
  --Scopy-color: rgb(0, 81, 255);
  --Stext-copy-color: rgb(255, 255, 255);
  --Sicon-color: 0;
}

.dark-mode {
  --Stext-color: white;
  --Smain-color: rgb(42, 42, 42);
  --Sbox-color: rgb(24, 24, 24);
  --Shover-color: rgb(95, 95, 95);
  --Scopy-color: rgba(0, 204, 255, 0.856);
  --Stext-copy-color: rgba(0, 0, 0, 0.856);
  --Sicon-color: 1;
}

.box-share {
  display: none;
  position: fixed;
  top: 48.1%;
  left: 48.2%;
  transform: translate(-50%, -50%);
  width: 517px;
  height: 338px;
  padding: 0px 24px;
  margin: 24px 40px;
  color: var(--text-color);
  background-color: var(--main-color);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 13px;
  z-index: 1001;
}

.box-share.active,
.shadow-share.active {
  display: block;
}

.index-container {
  margin: 24px 0px;
}

.index-container hr {
  margin-top: 24px;
}

.closed-icon {
  position: fixed;
  top: 20px;
  left: 475px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  padding: 0;
  filter: invert(var(--Sicon-color));
  cursor: pointer;
}

.slider-rigth-icon {
  position: fixed;
  top: 72px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.507);
}

.slider-rigth-icon img {
  filter: invert(var(--Sicon-color));
  width: 25px;
  height: 25px;
}
.navbar-up {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.options-share {
  display: flex;
  width: 460px;
  justify-content: space-between;
}

.option {
  width: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.option div {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  justify-content: center;
}

.option p {
  display: flex;
  align-items: center;
  font-size: 13px;
  height: 30px;
  margin: 0;
}

.index-address {
  display: flex;
  align-items: end;
  width: 468px;
  height: 60px;
}

.index-url {
  display: flex;
  width: 100%;
  height: 55px;
  background-color: var(--Sbox-color);
  border: 1px solid var(--Shover-color);
  border-radius: 13px;
  padding: 8px 0px;
}

.index-url p {
  display: flex;
  width: 404px;
  font-size: 14px;
  font-weight: 500;
  align-items: center;
  margin: 0px 0px 0px 16px;
}

.copy-button {
  width: 69px;
  height: 37px;
  border: none;
  margin: 0px 8px;
  border-radius: 50px;
  color: var(--Stext-copy-color);
  background-color: var(--Scopy-color);
}

.box-time {
  display: flex;
  align-items: center;
}

.box-time span {
  font-size: 14px;
  padding-left: 16px;
}
.checkbox {
  width: 20px;
  height: 20px;
  margin: 2px 0px 0px;
}
