.box-share {
  display: none;
  position: fixed;
  top: 48.1%;
  left: 48.2%;
  transform: translate(-50%, -50%);
  width: 517px;
  height: 338px;
  padding: 0px 24px;
  margin: 24px 40px;
  background: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 13px;
  z-index: 1001;
}

.shadow-share {
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.23);
}

.box-share.active,
.shadow-share.active {
  display: block;
}

.index-container {
  margin: 24px 0px;
}

.index-container hr {
  margin-top: 24px;
}

.options-share {
  display: flex;
  width: 460px;
  justify-content: space-between;
}

.option {
  width: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.option div {
  width: 65px;
  height: 65px;
  /* margin: 5px; */
  border-radius: 50%;
  background-color: rgb(218, 218, 218);
  justify-content: center;
}

.option p {
  display: flex;
}

.index-address {
  display: flex;
  align-items: end;
  width: 468px;
  height: 70px;
}

.index-url {
  display: flex;
  width: 100%;
  height: 55px;
  border: 1px solid rgb(218, 218, 218);
  border-radius: 13px;
  padding: 8px 0px;
}

.index-url p {
  display: flex;
  width: 404px;
  font-size: 14px;
  font-weight: 500;
  align-items: center;
  margin: 0px 0px 0px 16px;
}

.copy-button {
  width: 67px;
  height: 36px;
  border: none;
  font-weight: 600;
  margin: 0px 8px;
  border-radius: 50px;
  color: white;
  background-color: rgba(0, 68, 255, 0.911);
}
