.short-container {
  margin: -70px 100px 0px 508px;
  width: 475px;
  height: 715px;
  display: flex;
}

.Shorts-video {
  display: flex;
  width: auto;
  height: auto;
  border-radius: 12px;
  justify-content: center;
  position: relative;
}

.tools-bar {
  display: flex;
  align-items: end;
}