.thumbnail-short {
  border-radius: 12px;
}

.top-navbar {
  display: flex;
  /* height: 80px;
  width: 92%; */
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
}

.top-navbar img {
  filter: invert(1);
}

.top-navbar div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.28);
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.top-navbar div:hover {
  background-color: rgba(0, 0, 0, 0.473);
}
.sound-icon {
  margin-right: auto;
}

.play-icon {
  margin-right: 16px;
}
