:root {
  --Ntext-color: #000000;
  --Nmain-color: #ffffff;
  --Nbutton-color: rgb(244, 244, 244);
  --Nhover-color: rgb(228, 228, 228);
  --Nicon-color: black;
}

.dark-mode {
  --Ntext-color: white;
  --Nmain-color: #0f0f0f;
  --Nbutton-color: rgb(42, 42, 42);
  --Nhover-color: rgb(60, 60, 60);
  --Nicon-color: white;
}

.navbar {
  display: flex;
  height: 58px;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 16px;
  position: fixed;
  background-color: var(--Nmain-color);
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
}

/* left section */
.left-section {
  width: 150px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.menu-btn {
  border-radius: 50%;
  padding: 8px 8px;
  cursor: pointer;
  border: none;
  background-color: var(--Nmain-color);
  fill: var(--Nicon-color);
}

.menu-btn:hover {
  background-color: var(--Nhover-color);
}

.menu-icon {
  display: flex;
}

.youtube-logo {
  height: 20px !important;
  margin-left: 18px;
  cursor: pointer;
  fill: var(--Nicon-color);
}

/* middle section */
.middle-section {
  flex: 1;
  display: flex;
  max-width: 770px;
  align-items: center;
}

.cointainer {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
}

.search-bar {
  flex: 1;
  display: flex;
  border: solid 1px var(--Nhover-color);
  align-items: center;
  border-radius: 60px;
  padding-left: 15px;
  box-shadow: inset 0px 0px 1px var(--Nhover-color);
  margin-left: 50px;
}

.search-bar input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  margin-top: 2px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--Ntext-color);
  width: 0;
}

.serch-icon {
  padding: 7px 19px;
  border: none;
  border-left: solid 1px var(--Nhover-color);
  border-radius: 0px 20px 20px 0px;
  cursor: pointer;
  flex-shrink: 0;
  background-color: var(--Nbutton-color) !important;
  transition: background-color 0.1s;
}

.serch-icon svg {
  fill: var(--Nicon-color);
  background-color: var();
}

.serch-icon:hover {
  background-color: var(--Nhover-color);
}

.mic-icon {
  width: 70px;
}

.mic-icon button {
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.1s;
  background-color: var(--Nbutton-color);
  color: var(--Nicon-color);  
}

.mic-icon button:hover {
  background-color: var(--Nhover-color);
}

/* rigth section */
.rigth-section {
  width: 205px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  flex-shrink: 0;
}

.plus-btn {
  height: 36px;
  width: 97px;
  background-color: var(--Nbutton-color);
  color: var(--Ntext-color);
  display: flex;
  border-radius: 20px;
  margin-right: 4px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.1s;
}

.plus-btn svg {
  margin-right: 6px;
  fill: var(--Nicon-color);
}

.plus-btn:hover {
  background-color: var(--Nhover-color);
}

.create {
  font-size: 14px;
  font-weight: 500;
  margin: 0px 4px 0px 0px;
}

.bell-btn {
  height: 39px;
  width: 39px;
  margin-right: 14px;
  border-radius: 50%;
  border: none;
  background-color: var(--Nmain-color); 
  fill: var(--Nicon-color);
  cursor: pointer;
}

.bell-btn:hover {
  background-color: var(--Nhover-color);
}

.notification-icon {
  position: absolute;
  background-color: rgba(233, 14, 14, 0.774);
  color: white;
  padding: 2px 5px;
  border-radius: 50px;
  font-size: 12px;
  font-family: Roboto, Arial;
  top: -5px;
  right: -7px;
}

.mic-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.serch-icon,
.notification-container,
.mic-icon button {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bell-btn:hover .tooltips,
.serch-icon:hover .tooltips,
.mic-icon button:hover .tooltips {
  opacity: 1;
}

.tooltips {
  position: absolute;
  bottom: -50px;
  background-color: rgb(128, 128, 128);
  color: white;
  padding: 9px 7px;
  border-radius: 6px;
  font-size: 12px;
  font-family: roboto, arial;
  opacity: 0;
  transition: opacity 0.2s;
  pointer-events: none;
  white-space: nowrap;
}