:root {
  --text-color: #000000;
  --main-color: #ffffff;
  --hover-color: rgb(228, 228, 228);
  --icon-color: black;
}

.dark-mode {
  --text-color: white;
  --main-color: rgb(42, 42, 42);
  --hover-color: rgb(60, 60, 60);
  --icon-color: white;
}

/* User Profile */
.profile-container {
  align-items: center;
}

.theme-toggle {
  display: none;
  position: absolute;
  top: 47px;
  right: 20px;
  background-color: var(--main-color);
  border-radius: 12px;
  width: 300px;
  height: 200px;
  padding: 5px 0;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}
.theme-toggle.opend {
  display: block;
}
.title {
  display: flex;
  align-items: center;
  color: var(--text-color);
}
.theme-back-flash{
  fill: var(--icon-color);
  vertical-align: center;
  /* margin: top right bottom left */
  margin: 0 5px 0 5px;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  transition: background-color 0.2s;
}
.theme-back-flash:hover {
  background-color: var(--hover-color);
}
.theme-toggle-title {
  font-family: Roboto, Arial;
}
.Appearance-list {
  display: flex;
  flex-direction: column;
  gap: 0px;
  font-family: Roboto, Arial;
  font-size: 14px;
  color: var(--text-color);
}
.theme-Mode {
  display: flex;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.1s;
}
.theme-Mode:hover {
  background-color: var(--hover-color);
}
.theme-tick {
  vertical-align: center;
  margin: 0 18px 0 5px;
}
.theme-tick.device {
  fill: var(--icon-color);
  opacity: 0;
}
.theme-tick.dark {
  fill: var(--icon-color);
  opacity: 0;
}
.them-tick.light {
  fill: var(--icon-color);
  opacity: 1;
}

.profile-icon {
  width: 40px;
  /* padding: 0px 5px; */
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.profile-pic {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  cursor: pointer;
}

/* Dropdown Menu */
.profile-menu {
  display: none;
  position: absolute;
  top: 47px;
  right: 20px;
  background-color: var(--main-color);
  color: var(--text-color);
  border-radius: 12px;
  width: 300px;
  padding: 5px 0;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}
.profile-menu.profile-opend {
  display: block;
}

/* User Info */
.user-info {
  display: flex;
  align-items: center;
  padding: 10px 16px;
}

.dropdown-pic {
  margin-bottom: 30px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 16px;
}

.user-name {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}

.view-channel-link {
  font-size: 14px;
  color: #0078e1;
  text-decoration: none;
}

.view-channel-link:hover {
  text-decoration: underline;
}

/* Menu List */
.menu-list {
  background-color: var(--main-color);
  color: var(--text-color);
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  max-height: 72vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.menu-list svg {
  fill: var(--icon-color);
  width: 25px;
  margin-right: 18px;
}

.menu-item-2,
.menu-item {
  display: flex;
  align-items: center;
  padding: 7px 16px;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  transition: background-color 0.2s;
}

.menu-item-2 {
  justify-content: space-between;
}

.menu-item-2:hover,
.menu-item:hover {
  background-color: var(--hover-color);
}

.right-button {
  fill: var(--icon-color);
  margin-left: auto; /* Pushes the icon to the far right */
  margin-right: 0 !important;
}

.menu-hr {
  width: 300px;
  margin: 8px 0;
  border: none;
  border-top: 0.9px solid var(--hover-color);
}

.icon-svg {
  margin-right: 18px;
  fill: var(--icon-color);
}