:root {
  --tptext-color: #000000;
  --tpmain-color: #ffffff;
  --tpbutton-color: rgb(244, 244, 244);
  --tphover-color: rgb(228, 228, 228);
  --tpicon-color: black;
}

.dark-mode {
  --tptext-color: white;
  --tpmain-color: #0f0f0f;
  --tpbutton-color: rgb(42, 42, 42);
  --tphover-color: rgb(60, 60, 60);
  --tpicon-color: white;
}

.topic-bar-container {
  position: relative;
  font-family: Roboto, Arial;
  font-weight: 500;
  display: flex;
  height: 60px; /* distance to navbar */
  align-items: center;
  position: fixed;
  right: 0;
  left: 240px;
  top: 55px;
  z-index: 1;
  background-color: var(--tpmain-color);
}

.topic-bar-container.closed{
  left: 80px;
}

.topic-bar-container::before
{
  content: '';
  position: absolute;  
  left: 40px; 
  width: 40px;
  height: 70%; 
  background: linear-gradient(to right, var(--tpmain-color), transparent);
  pointer-events: none; 
}

.topic-bar-container::after
{
  content: '';
  position: absolute;  
  right: 40px; 
  width: 40px;
  height: 70%; 
  background: linear-gradient(to left, var(--tpmain-color), transparent);
  pointer-events: none; 
}

.topic-bar {
  display: flex;
  gap: 10px; /* the gaps between topics */
  padding: 15px 7px;
}

.topic{
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 7px 13px;
  border: none;
  border-radius: 9px;
  background-color: var(--tpbutton-color);
  color: var(--tptext-color);
  cursor: pointer;
  transition: transform 0.2s, background-color 0.2s;
}
.topic:hover {
  background-color: var(--tphover-color);
  color: var(--tptext-color);
  transform: scale(1.05);
  outline: none;
}

.scroll-button {
  background-color: var(--tpmain-color);
  border: none;
  font-size: 18px;
  padding: 5px 8px;
  border-radius: 50px;
  cursor: pointer;
}
.scroll-button:hover {
  background-color: var(--tphover-color);
}

.scroll-button svg
{
  fill: var(--tpicon-color);
  margin-top: 3px;
}

/* Responsive Design */
@media (max-width: 1200px) {
    .topic-bar-container
    {
      left: 150px;
    }
  }
