:root {
    --Mtext-color: #000000;
    --Mmain-color: #ffffff;
    --Mbutton-color: rgb(244, 244, 244);
    --Mhover-color: rgb(228, 228, 228);
    --Micon-color: black;
  }
  
  .dark-mode {
    --Mtext-color: whitM;
    --Mmain-color: #0f0f0f;
    --Mbutton-color: rgb(42, 42, 42);
    --Mhover-color: rgb(60, 60, 60);
    --Micon-color: white;
  }

.more-form{
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    color: var(--Mtext-color);
    padding: 6px 12px 6px;
    margin: 0;
}
.more-form-link{
    display: flex;
    border-radius: 10px;
    padding: 0px 10px;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.1s;
    height: 40px;
    width: 180px;
    cursor: pointer;
}
.more-form-link div {
    margin-left: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.more-form-link:hover{
    background-color: var(--Mhover-color);
}
.about div{
color: rgb(74, 74, 74);
padding: 10px;
font-family: "Roboto", "Arial", sans-serif;
font-size: 13px;
cursor: pointer;
}