:root {
  --Stext-color: #000000;
  --Smain-color: #ffffff;
  --Sbutton-color: rgb(244, 244, 244);
  --Shover-color: rgb(228, 228, 228);
  --Sicon-color: 0;
}

.dark-mode {
  --Stext-color: white;
  --Smain-color: #0f0f0f;
  --Sbutton-color: rgb(42, 42, 42);
  --Shover-color: rgb(60, 60, 60);
  --Sicon-color: 1;
}

.cover-black {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  /* Semi-transparent background */
  transition: opacity 0.3s ease;
  opacity: 1;
  visibility: hidden;
  z-index: 1001;
  /* Ensure it's below the sidebar */
}

.cover-black.active {
  opacity: 1;
  visibility: visible;
}

/* Hide scrollbar by default */
.sidebar-container {
  position: fixed;
  top: 58px;
  left: 0;
  bottom: 0;
  width: 238px;
  padding-right: 4px;
  z-index: 1003;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  background-color: var(--Smain-color);
  transition: left 0.4s ease;
}

.sidebar-icon {
  filter: invert(var(--Sicon-color));
}

.sidebar-container.closed {
  /* divv */
  padding: 0;
  width: 75px;

  .section-section {
    padding: 8px 3px;
    width: 65px;
  }

  /* div */
  .you-icon,
  .sidebar-links-home,
  .sidebar-links {
    background-color: var(--Smain-color);
    padding: 0px 0px;
    height: 70px;
    width: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* vertical */
    justify-content: center;
    /* horizental */
  }

  /* text */
  .sidebar-links .sidebar-text,
  .sidebar-links-home .sidebar-text {
    margin: 0;
    white-space: nowrap;
    align-items: center;
    justify-content: left;
    font-size: 9.8px;
  }

  /* img */
  .sidebar-icon {
    filter: invert(var(--Sicon-color));
    margin-bottom: 9px;
  }

  .you-icon:hover,
  .sidebar-links:hover,
  .sidebar-links-home:hover {
    background-color: var(--Shover-color);
  }

  .for-delete {
    display: none;
  }

  .sidebar-container hr {
    display: none;
  }

  .hr-between.closed {
    display: none !important;
  }
}

.sidebar-container.close {
  left: -100%;
}

.sidebar-container:hover {
  scrollbar-width: auto;
}

.sidebar-container::-webkit-scrollbar-thumb {
  background: var(--Shover-color);
  border-radius: 10px;
}

.sidebar-container::-webkit-scrollbar {
  width: 8px;
}

.YT-side {
  display: flex;
  padding-left: 16px;
  align-items: center;
}

.menu-btn-side {
  width: 30px;
}

.menu-btn-side img {
  padding: 8px;
}

.youtube-logo{
  margin: 18px 14px 19px 28px;
}

.section-section {
  padding: 12px 14px;
  width: 216px;
}

.sidebar-links-home {
  padding: 0px 10px;
  height: 40px;
  width: 183px;
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: var(--Shover-color);
  border-radius: 10px;
  transition: background-color 0.1s;
}

.sidebar-links-home div {
  margin-left: 25px;
  color: var(--Stext-color);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.sidebar-links-A,
.sidebar-links {
  display: flex;
  border-radius: 10px;
  padding: 0px 10px;
  height: 40px;
  width: 183px;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.1s;
}

.sidebar-links-A:hover,
.sidebar-links:hover,
.you-icon:hover {
  background-color: var(--Shover-color);
}

.sidebar-links-home:hover {
  background-color: var(--Shover-color);
}

.sidebar-links-A div,
.sidebar-links div {
  margin-left: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.you-icon {
  height: 40px;
  width: 183px;
  padding: 0px 10px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 600;
  font-size: 16px;
  display: flex;
  color: var(--Stext-color);
  cursor: pointer;
  margin: 0;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.you-icon img {
  margin-left: 8px;
  filter: invert(var(--Sicon-color));
}

.hr-between {
  margin: 10px 0px;
}