:root {
  --SBtext-color: #000000;
  --SBmain-color: #ffffff;
  --SBbutton-color: rgb(244, 244, 244);
  --SBhover-color: rgb(228, 228, 228);
  --SBicon-color: black;
}

.dark-mode {
  --SBtext-color: white;
  --SBmain-color: #0f0f0f;
  --SBbutton-color: rgb(42, 42, 42);
  --SBhover-color: rgb(60, 60, 60);
  --SBicon-color: white;
}

.subscription-icon {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  display: flex;
  color: var(--SBtext-color);
  padding: 6px 12px 4px;
  margin: 0;
}

.section-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 12px;
}

/* ul */
.subscription-list {
  list-style: none;
  padding: 0px;
  margin: 0;
}

/* li */
.subscription-item {
  height: 40px;
  width: 183px;
  display: flex;
  align-items: center;
  padding: 0px 10px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 11px;
}

.subscription-item img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 25px;
}

.subscription-item:hover {
  background-color: var(--SBhover-color);
}

.live-icon-r {
  margin-left: auto;
  color: #ff0000;
  font-size: 12px;
}

.live-icon-b {
  margin-left: auto;
  color: #0099ff;
  font-size: 12px;
}

.Show-more-icon {
  height: 40px;
  width: 183px;
  padding: 0px 10px;
  display: flex;
  align-items: center;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: smaller;
  cursor: pointer;
  border-radius: 10px;
}
.Show-more-icon img {
  margin-right: 25px;
}
.Show-more-icon:hover {
  background-color: var(--SBhover-color);
}
