/* 1fr */
@media (max-width: 700px) {
    .sidebar-container {
      display: none;
    }
  
    body {
      margin: 135px 85px;
    }
  
    .topic-bar-container {
      margin: 0px 30px;
      left: 0 !important;
    }
  }
  
  /* 2fr */
  @media (min-width: 701px) and (max-width: 800px) {
    .sidebar-container {
      display: none;
    }
  
    body {
      margin: 135px 20px;
    }
  
    .topic-bar-container {
      left: 0 !important;
    }
  }
  
  /* 2fr and delete sidebar */
  @media (min-width: 801px) and (max-width: 1100px) {
    /* divv */
    .sidebar-container {
      padding: 0;
      width: 75px;
    }
  
    .section-section {
      padding: 8px 3px;
      width: 65px;
    }
  
    /* div */
    .you-icon,
    .sidebar-links-home,
    .sidebar-links {
      background-color: white;
      padding: 0px 0px;
      height: 70px;
      width: 65px;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* vertical */
      justify-content: center;
      /* horizental */
    }
  
    /* text */
    .sidebar-links .sidebar-text,
    .sidebar-links-home .sidebar-text {
      margin: 0;
      white-space: nowrap;
      align-items: center;
      justify-content: left;
      font-size: 9.8px;
    }
  
    /* img */
    .sidebar-icon {
      margin-bottom: 9px;
    }
  
    .you-icon:hover,
    .sidebar-links:hover,
    .sidebar-links-home:hover {
      background-color: rgb(243, 243, 243);
    }
  
    .topic-bar-container {
      left: 90px !important;
    }
  
    .for-delete {
      display: none;
    }
  
    body {
      margin: 135px 30px 0px 100px;
    }
  
    .sidebar-container hr {
      display: none;
    }
  }
  
  /* 3fr nad short sidebar */
  @media (min-width: 1101px) and (max-width: 1300px) {
    /* divv */
    .sidebar-container {
      padding: 0;
      width: 75px;
    }
  
    .section-section {
      padding: 8px 3px;
      width: 65px;
    }
  
    /* div */
    .you-icon,
    .sidebar-links-home,
    .sidebar-links {
      background-color: var();
      padding: 0px 0px;
      height: 70px;
      width: 65px;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* vertical */
      justify-content: center;
      /* horizental */
    }
  
    /* text */
    .sidebar-links .sidebar-text,
    .sidebar-links-home .sidebar-text {
      margin: 0;
      white-space: nowrap;
      align-items: center;
      justify-content: left;
      font-size: 9.8px;
    }
  
    /* img */
    .sidebar-icon {
      margin-bottom: 9px;
    }
  
    .you-icon:hover,
    .sidebar-links:hover,
    .sidebar-links-home:hover {
      background-color: rgb(243, 243, 243);
    }
  
    .topic-bar-container {
      left: 80px !important;
    }
  
    .for-delete {
      display: none;
    }
  
    body {
      margin: 135px 20px 0px 95px;
    }
  
    .sidebar-container hr {
      display: none;
    }
  }
  
  /* 3fr */
  @media (min-width: 1301px) and (max-width: 1600px) {
    .thumbnail{
      min-width: 330px;
    }
  }
  
  /* 4fr */
  @media (min-width: 1601px) {
    .thumbnail{
      min-width: 320px;
    }
  }